body {
    margin: 20px;
    background-color: #ddd;
}
/* モバイルデバイス用のレスポンシブデザイン */
@media only screen and (max-width: 600px) {
    body {
        justify-content: flex-start;
        align-items: flex-start;
    }
}
.container {
    margin: 0 auto; /* 水平方向にセンタリング */
    padding: 20px;
    background-color: #eee;
    border: 1px solid #000;
    width: 350px;
}

.container h1 {
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    font-size: 80%;
}

ul li {
    flex: 1 1 45%; /* 各アイテムが親コンテナの45%を占める */
    margin: 5px;
    box-sizing: border-box;
}

ul li a {
    display: block;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    text-align: center;
    font-size: 1.1em;
    cursor: pointer;
}

ul li a:hover {
    background-color: #f0f0f0;
}

button {
    border-top: 3px solid #999;
    border-right: 3px solid #111;
    border-bottom: 3px solid #111;
    border-left: 3px solid #ccc;
    cursor: pointer;
}

/* queList.html用のダークモードスタイル */
.dark-mode {
    background-color: #333;
    color: #eee;
}

.dark-mode h1 {
    color: #eee
}
.dark-mode .container {
    background-color: #333;
    border-color: #888;
}

.dark-mode ul li a {
    background-color: #333;
    border-color: #888;
    color: #eee;
}

.dark-mode ul li a:hover {
    background-color: #333;
}

.dark-mode button {
    background-color: #333;
    color: #eee;
    border-top: 3px solid #888;
    border-right: 3px solid #eee;
    border-bottom: 3px solid #eee;
    border-left: 3px solid #555;
}