body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    background-color: #ddd;
}
/* モバイルデバイス用のレスポンシブデザイン */
@media only screen and (max-width: 600px) {
    body {
        justify-content: flex-start;
        align-items: flex-start;
    }
}
.container {
    text-align: center;
    margin: 0 auto; /* 水平方向にセンタリング */
    padding: 20px;
    background-color: #eee;
    border: 1px solid #000;
    width: 350px;
    font-size: 90%;
}

.stats {
    margin-top: 15px;
    border: 1px solid #888; /* 枠の追加 */
    padding: 10px; /* 枠内の余白 */
}

select {
    background-color: #eee;
    cursor: pointer;
}

.stats p {
    margin: 0px 0; /* パラグラフの余白を調整 */
}

.stats span {
    font-weight: bold; /* 数値を太字にする */
}
 
#question {
    text-align: left; /* 解答を左揃えにする */
    white-space: pre-wrap;
}

#question:not(:empty),
#answer:not(:empty) {
    border: 1px solid #888; /* 解答表示の枠 */
    padding: 10px; /* 枠内の余白 */
    margin-top: 10px; /* 上部の余白 */
}

table {
    width: 100%;
    border: 0px;
}

th, td, tr{
    text-align: center;
    border: 0px; 
}

.hidden {
    display: none;
}

.correct {
    color: #f00;
}

.incorrect {
    color: #00f;
}

.message {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0;
}

.outstanding{
    color: #00f;
}

.awesome {
    color: #08f;
}
.excellent {
    color: #0ff;
}

.very-good {
    color: #8f8; /* Green */
}

.good {
    color: #f00; /* Yellow */
}

.average {
    color: #f88;
}

.poor {
    color: #f0f;
}

button {
    border-top: 3px solid #999;
    border-right: 3px solid #111;
    border-bottom: 3px solid #111;
    border-left: 3px solid #ccc;
    cursor: pointer;
}

#clearMemoButton {
    margin-top: 15px;
}
#memoPad {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: auto; /* 左右の余白を自動調整 */
    margin-right: auto;
    text-align: left; /* テキストは左揃え */
    background-color: #eee; /* 白色の背景色 */
    color: #000; /* 黒色のテキスト色 */
    border: 1px solid #888; /* 枠線 */
    padding: 10px; /* 内側の余白 */
}

/* ダークモードのスタイル */
.dark-mode #memoPad {
    background-color: #333; /* ダークな背景色 */
    color: #eee; /* 白色のテキスト色 */
    border-color: #888; /* ダークな枠線 */
}

.dark-mode table,
.dark-mode th,
.dark-mode td {
    border-color: #888; /* 外枠の色を白に設定 */
}

.bottomButton {
    margin-top: 10px;
}
/* ダークモードのスタイル */
.dark-mode {
    background-color: #333;
    color: #eee;
}

.dark-mode select{
    background-color: #333;
    color: #eee;
}

.dark-mode .container {
    background-color: #333; /* ダークな背景色 */
    color: #eee; /* 白色の文字色 */
    border: 1px solid #888;
}

.dark-mode #correctButton {
    color: #f00;
    font-size: 0.9em; /* ダークモードのボタンのフォントサイズも調整 */
}
.dark-mode #incorrectButton {
    color: #00f;
    font-size: 0.9em; /* ダークモードのボタンのフォントサイズも調整 */
}

.dark-mode button {
    background-color: #333;
    color: #eee;
    border-top: 3px solid #888;
    border-right: 3px solid #eee;
    border-bottom: 3px solid #eee;
    border-left: 3px solid #555;
}